/* Font families */
@font-face {
  font-family: "Expletus Sans";
  src: url("../fonts/ExpletusSans/Variable_wght.woff2") format("woff2");
  font-weight: 400 700;
}

:root {
  --ff-expletus: "Expletus Sans", sans-serif;

  --fs-mega: 6rem;
  --fs-1000: clamp(2.61rem, calc(2.5rem + 0.55vw), 3rem);
  --fs-900: clamp(2.18rem, calc(2.09rem + 0.46vw), 2.5rem);
  --fs-800: clamp(1.81rem, calc(1.74rem + 0.38vw), 2.125rem);
  --fs-700: clamp(1.51rem, calc(1.45rem + 0.32vw), 1.75rem);
  --fs-600: clamp(1.26rem, calc(1.21rem + 0.27vw), 1.5rem);
  --fs-500: clamp(1.05rem, calc(1.01rem + 0.22vw), 1.25rem);
  --fs-400: clamp(0.88rem, calc(0.84rem + 0.19vw), 1rem);
  --fs-300: clamp(0.73rem, calc(0.7rem + 0.15vw), 0.875rem);
  --fs-200: clamp(0.61rem, calc(0.58rem + 0.13vw), 0.75rem);

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --clr-primary: hsl(261, 40%, 39%);
  --clr-primary-dark: hsl(263, 50%, 18%);
  --clr-primary-light: hsl(263, 49%, 60%);
  --clr-lightest: hsl(0, 0%, 100%);
  --clr-light: hsl(0, 0%, 93%);
  --clr-dark: hsl(0, 0%, 10%);
}

body {
  font-family: var(--ff-expletus);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
}
